<% if(message != "") {  %>
    <section id="message">
        <p><%= message %></p> <span id="close">&times;</span>
    </section>
  <% } %>
  
<header>
    <nav id="home">
        <a href="/"> <img src="/IMG/Pokédex_logo.png" alt="Logo Pokedéx"> </a>
    </nav>
   
    <nav>
        <a href="/cadastro"><h1>Cadastro</h1></a>
    </nav>
</header>